/* Reset */


body {
    background-image: url("/img/cork.jpg");
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
}

#welcome {
    font-family: serif;
    color: black;
    font-size: 4em;
    margin-left: 4.1em;

}

#search {
    background-color: #f6f6f6;
    border-color: #dedede #bababa #aaa #bababa;
    margin-left: 140em;

}

#submit {
    border: 1px solid #CCC;
}

#welcomeNav {
    font-family: Serif;
    margin-left: 100em;
    text-decoration: none;
    list-style: none;
    color: black;

}

#welcomeUser {
    font-family: serif;
    color: black;
    font-size: 3em;
    text-align: center;
}

#profileListings{
    color: black;
    font-size: 1.5em;
    font-family: Serif;
    text-align: center;

}

#mainTxt{
    font-size: 3em;
}
#createAd {
    font-family: Serif;
    font-size: xx-large;
    position: absolute;
    margin-left: 25em;
}

a {
    color: black;
    font-size: 1.5em;
    font-family: Serif;
    text-decoration: none;
    list-style: none;
}

#currentAd{
    /*margin-left: 50em;*/
    color: black;
    text-align: center;
    font-family: Serif;
    font-size: x-large;

}

#adDescription {
    color: black;
    text-align: center;
    font-family: Serif;
    font-size: x-large;
}

#register {
    font-family: Serif;
    font-size: xx-large;
    margin-left: 15em;
    position: absolute;
    text-align: center;

}

#submitBtn {
    font-family: Serif;
    margin-left: 25em;
    font-size: large;
}

#logIn {
    font-family: Serif;
    font-size: xx-large;
    position: absolute;
    text-align: center;
    margin-left: 20em;

}

#loginBtn {
    font-family: Serif;
    margin-left: 25em;
    font-size: large;
}

#username {
    font-family: Serif;
    padding-bottom: 1.2em;
    margin-bottom: 1em;
    text-decoration: solid;

}

#password {
    font-family: Serif;
    padding-bottom: 1.2em;
    text-decoration: solid;

}
 #results {
     text-align: center;
     font-size: 6em;
     font-family: Serif;
 }

 #backDrop {
     background-color: rgba(0, 0, 0, .25);
 }